<header class="page-header-component">
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img class="logo" src="/assets/images/logo.png" alt="AUBiH Logo">
          <div class="header-item-container">
            <a href="{{mailTo}}">{{fa-icon 'envelope-o'}}{{emailAddress}}</a>
            <div class="right-menu">
              <a href="#" class="icon-only-link">{{fa-icon 'facebook'}}</a>
              <a href="#" class="icon-only-link">{{fa-icon 'twitter'}}</a>
              <a href="#" class="icon-only-link">{{fa-icon 'google-plus'}}</a>
              <a href="#" class="icon-only-link">{{fa-icon 'instagram'}}</a>
              <a href="#" class="icon-only-link">{{fa-icon 'linkedin'}}</a>
              <a href="#" class="icon-only-link">{{fa-icon 'youtube-play'}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="header-item-container">
            <ul>
              {{#each navigationItems as |navigationItem|}}
                <li>
                  {{#link-to navigationItem.link}}{{navigationItem.title}}{{/link-to}}
                  {{#if navigationItem.subMenu}}
                    <div>
                      <div class="row">
                        {{#each navigationItem.subMenu as |subItem|}}
                          <div class="{{get-col navigationItem.subMenu}}">
                            <h5>{{subItem.title}}</h5>
                            {{#each subItem.links as |linkItem|}}
                              {{#link-to linkItem.link}}{{linkItem.title}}{{/link-to}}
                            {{/each}}
                          </div>
                        {{/each}}
                      </div>
                    </div>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
