<header class="page-header-component">
  <div class="top">
    <div class="menu-button visible-xs-block visible-sm-block" {{action 'toggleSidebar'}}>
      {{fa-icon sidebarToggleIcon}}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {{#link-to 'index' classNames="logo-link"}}<img class="logo" src="/assets/images/logo.png" alt="AUBiH Logo">{{/link-to}}
          <div class="header-item-container">
            <a class="mail-to" href="{{mailTo}}">{{fa-icon 'envelope-o'}}{{emailAddress}}</a>
            <div class="social-icons">
              {{#each socialLinks as |socialLink|}}
                <a href="{{socialLink.link}}" class="icon-only-link">{{fa-icon socialLink.icon}}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="header-item-container">
            <ul>
              {{#each navigationItems as |navigationItem|}}
                <li>
                  {{#if (is-local-link router navigationItem.link)}}
                    {{#link-to navigationItem.link}}{{navigationItem.title}}{{/link-to}}
                  {{else}}
                    <a href="{{navigationItem.link}}">{{navigationItem.title}}</a>
                  {{/if}}
                  {{#if navigationItem.subMenu}}
                    <div>
                      <div class="row">
                        {{#each navigationItem.subMenu as |subItem|}}
                          <div class="{{get-col navigationItem.subMenu}}">
                            <h5>{{subItem.title}}</h5>
                            {{#each subItem.links as |linkItem|}}
                              {{#if (is-local-link router linkItem.link)}}
                                {{#link-to linkItem.link}}{{linkItem.title}}{{/link-to}}
                              {{else}}
                                <a href="{{linkItem.link}}">{{linkItem.title}}</a>
                              {{/if}}
                            {{/each}}
                          </div>
                        {{/each}}
                      </div>
                    </div>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
