{{#page-banner image='/assets/images/system-banner.jpg' imageOffset=150px height=363 filter='light-filter'}}
  <div class="col-xs-12">
    <h1>{{fa-icon 'microchip' class='big-banner-icon'}}<br>System Engineering</h1>
  </div>
{{/page-banner}}
<p>Master's degree program System Engineering is a program that educates students qualified for innovative solutions of complex problems in technologically advanced environments, using engineering solutions that are of significant value to clients and their organizations. System engineers also manage interdisciplinary teams of engineers and other experts in the field of development and implementation of technical solutions to complex problems faced by organizations. The program teaches students how to apply systematic thinking and systematic development and approach to problems.</p>
{{#page-banner filter='opaque-filter'}}
  {{#banner-card cols=3 link='engineering.degree.masters.system.overview'}}
  {{fa-icon 'eye'}}
    Overview
  {{/banner-card}}
  {{#banner-card cols=3 link='engineering.degree.masters.system.curriculum'}}
  {{fa-icon 'book'}}
    Curriculum
  {{/banner-card}}
  {{#banner-card cols=3 link='engineering.degree.masters.system.courses'}}
    {{fa-icon 'info'}}
    Course Descriptions
  {{/banner-card}}
  {{#banner-card cols=3 link='engineering.degree.masters.system.tuition'}}
    {{fa-icon 'dollar'}}
    Tuition &amp; Fees
  {{/banner-card}}
{{/page-banner}}
