{{#page-banner image='/assets/images/software-banner.jpg' height=363 filter='light-filter'}}
  <div class="col-xs-12">
    <h1>{{fa-icon 'code' class='big-banner-icon'}}<br>Software Engineering</h1>
  </div>
{{/page-banner}}
<p>Master's degree program Software Engineering is unique and it covers all major areas of the software development life cycle, including requirements engineering, system specification, architecture and detailed design, testing, quality measurement, software process design, and project management. Our program will prepare masters' students for jobs that require complex software systems to be specified, designed, built, deployed, tested and maintained.</p>
{{#page-banner filter='opaque-filter'}}
  {{#banner-card cols=3 link='engineering.degree.masters.software.overview'}}
  {{fa-icon 'eye'}}
    Overview
  {{/banner-card}}
  {{#banner-card cols=3 link='engineering.degree.masters.software.curriculum'}}
  {{fa-icon 'book'}}
    Curriculum
  {{/banner-card}}
  {{#banner-card cols=3 link='engineering.degree.masters.software.courses'}}
    {{fa-icon 'info'}}
    Course Descriptions
  {{/banner-card}}
  {{#banner-card cols=3 link='engineering.degree.masters.software.tuition'}}
    {{fa-icon 'dollar'}}
    Tuition &amp; Fees
  {{/banner-card}}
{{/page-banner}}
