{{#page-banner image='/assets/images/computer-banner.jpg' height=363 filter='light-filter'}}
  <div class="col-xs-12">
    <h1>{{fa-icon 'laptop' class='big-banner-icon'}}<br>Computer Engineering</h1>
  </div>
{{/page-banner}}
<p>Doctoral degree program of Computer Engineering provides training and deepening of the theoretical and methodological knowledge and competence of doctoral students who can independently lead original and scientifically based research after graduation, and to critically evaluate the research of others.</p>
{{#page-banner filter='opaque-filter'}}
  {{#banner-card cols=3 link='engineering.degree.doctoral.computer.overview'}}
  {{fa-icon 'eye'}}
    Overview
  {{/banner-card}}
  {{#banner-card cols=3 link='engineering.degree.doctoral.computer.curriculum'}}
  {{fa-icon 'book'}}
    Curriculum
  {{/banner-card}}
  {{#banner-card cols=3 link='engineering.degree.doctoral.computer.courses'}}
    {{fa-icon 'info'}}
    Course Descriptions
  {{/banner-card}}
  {{#banner-card cols=3 link='engineering.degree.doctoral.computer.tuition'}}
    {{fa-icon 'dollar'}}
    Tuition &amp; Fees
  {{/banner-card}}
{{/page-banner}}
