<div class="row staff">
  {{#each staff as |staffMember|}}
    <div class="col-xs-6 col-sm-3 equal-height">
      <div class="staffMember">
        <div class="photo" style={{background-image staffMember.photo}}>
        </div>
        <h3>{{staffMember.name}}</h3>
        <p>{{staffMember.title}}</p>
        <p>{{staffMember.institution}}</p>
        <p>{{staffMember.speciality}}</p>
      </div>
    </div>
  {{/each}}
</div>
